@import "src/variables.scss";

.footer {
    background: $dark-gradient !important;
    box-shadow: $dark-shadow;

    h2{
        color: $background-light;
        font-weight: 800;;
    }
    a{
        color:$background-light;

        &:hover {
            color: $gray;
        }
    }
}

@media screen and (max-width:360px) {
    .desktop-footer {
    display: none;
    }
}
@media screen and (min-width:360px) {
    .mobile-footer {
        display:none;
    }
}