.product .swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
        background: #7F7F7F !important;
        bottom: 10px !important;
        width: 60px !important;
        position: absolute !important;
        right: 20px !important;
        border-radius: 5px !important;
        color: white !important;
        left: auto !important;
}