//Colors
$black:#222831;
$light-black:#393e46;
$primary: #ff5722;
$secondary: #ff5722;
$color-text: #635bff;
$color-button:#635bff;
$background-light:#f2f2f7;
$background-dark:hsl(210, 73%, 15%);
$orange:#ff5722;
$gray-text: #adbdcc;
$green-background:#3ecf8e;
$text: #222831;
$dark-color:#6b7c93;
$light-dark:#393e46;
$card-background:#fffeff;
$light-gray: #F3F2F6;
$gray:#eee;
$blue: #00adb5;
$light-orange: #FE9400;
$dark-shadow: 3px 2px 3px #33383f, -3px -3px 3px #3f444d;
$dark-gradient: linear-gradient(145deg, #33383f, #3d424b);

//Shadows
$box-shadow-small:0 6px 12px -2px rgba(50, 50, 93, 0.25),
0 3px 7px -3px rgba(0, 0, 0, 0.3);
$box-shadow-medium:0 13px 27px -5px rgba(50, 50, 93, 0.25),
0 8px 16px -8px rgba(0, 0, 0, 0.3);
$box-shadow-card: 0 1px 3px 0 RGB(0 18 71 / 16%);
$shadow-product: RGB(49 53 59 / 12%) 0px 1px 6px 0px;
//Sizes
$size-heading: 38px;
